/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main Deck */
@font-face {
  font-family: 'osifont';
  src: url("osifont.ttf");
}

body {
  font-family: 'osifont';
  font-size: 16px;
  line-height: 1.65;
  margin: 0 auto;
  background: white;
  color: #3c3c3c;
}

#masthead {
  text-align: center;
}
#masthead #company-name #super {
  margin: 0;
  padding: 0;
  font-size: 64px;
  line-height: 64px;
  color: #005a96;
}
#masthead #company-name #sub {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 32px;
}
#masthead #company-description {
  margin: 16px 0;
  font-size: 22px;
}

section ul {
  font-size: 0px;
  margin: 8px 0;
  line-height: 0;
  padding: 0;
}
section ul li {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  line-height: 1.65;
}
section ul li:after {
  color: #005a96;
  white-space: pre;
  content: " \2022  ";
  line-height: 0;
  vertical-align: center;
}
section ul li:last-child:after {
  content: "";
}

section {
  text-align: center;
}

section#sectors, section#expertise, section#maxim {
  margin-top: 24px;
}

section#project-types {
  font-size: 14px;
  font-style: italic;
}

section#maxim p {
  font-weight: bold;
  color: #005a96;
  font-size: 18px;
  margin-bottom: 18px;
}

h2#contact-heading {
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  section#expertise ul li {
    display: block;
  }
  section#expertise ul li:after {
    content: "";
    line-height: 16px;
    display: block;
  }
  section#expertise ul li:last-child:after {
    content: "";
    display: inline;
  }
}
